p{
    font-size: 30px;
    color: red;
    width: 300px;
    border: 20px solid blue;
}
.mi-clase{
    font-size: 30px;
    color: aqua;
    border: 10px solid sienna;

}
p::first-letter {
    font-size: 40px;
    color: black;
}